:root {
    font: 16px;
    background-color: rgba(255, 255, 255, 1);
    --side-green: rgba(0, 110, 0, 1);
    --side-red: red;
    --header-height: 7vh;
}

#main-screen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: var(--header-height), calc(100vh - var(--header-height));
}

header {
    grid-column: 1 / -1;
    min-height: var(--header-height);
    background-color: rgb(130, 232, 140);
    display: flex;
    justify-content: center;
    align-items: center;
}

#side-menu {
    grid-column: 1 / 2;
    min-width: 150px;
    min-height: calc(100vh - var(--header-height));
    margin: 0;
    background-color: rgb(190, 190, 255);
    padding: 5px;

    & div {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
    }

    & > button {
        width: 5px;
        height: 5px;
    }
}

.side-add-div {
    color: var(--side-green);
    display: flex;

    & button {
        background-color: var(--side-green);
    }
}

.project-container {
    display: flex;
    flex-direction: column;
}

.side-project-div {
    display: flex;
    justify-content: space-between;

    & button {
        background-color: var(--side-red);
    }
}

*:not(ul) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-list-container {
    display: flex;
}

#main-container {
    display: flex;
    align-items: center;
}

#main-window {
    width: 60vw;
    height: 70vh;
    background-color: rgb(227, 240, 114);
    padding: 5px;
}

ul {
    list-style-type: circle;
}
button {
    width: 20px;
}

.todo-container {
    display: flex;
}

.todo-front {
    display: flex;

    & button {
        margin-right: 5px;
    }
}

.todo-div {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
